
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(150deg, #49e4f5, #c379eb);
}

.primary-btn, .secondary-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:  background-color 0.5s;
}

.primary-btn {
    background-color: #6b01ff;
    color: #fff;
}

.primary-btn:hover {
    background-color: #0429ba;
}

.secondary-btn {
    background-color: #03dac6;
    color: #000;
}

.secondary-btn:hover {
    background-color: #73f7f7;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #d5fffe;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: background-color 0.3s, color 0.3s;
}

.closeBtn {
    color: #aaa;
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.closeBtn:hover, .closeBtn:focus {
    color: #000;
    font-size: 35px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    
}


input:hover,select:hover {
    background-color: #e9e2e2;
    color: 	#000000;
}



input:focus, select:focus {
    border-color: #6200ea;
    outline: none;
}

@media (max-width: 600px) {
    .modal-content {
        padding: 20px;
    }
}

.dark-theme {
    background-color: #121212;
    color: #e0e0e0;
}

.dark-theme .modal-content {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

.dark-theme input, .dark-theme select {
    background-color: #2a2a2a;
    color: #e0e0e0;
    border: 1px solid #444;
}

.dark-theme .primary-btn {
    background-color: #bb86fc;
    color: #000;
}

.dark-theme .primary-btn:hover {
    background-color: #3700b3;
}

.dark-theme .secondary-btn {
    background-color: #03dac6;
    color: #000;
}

.dark-theme .secondary-btn:hover {
    background-color: #018786;
} 


